# ignore everything
*

# include only the main and the polygon class
!Main.cpp
!Polygon.cpp

# include README.MD and .gitignore and screenshots
!README.MD
!.gitignore
!/screenshots/  
!/screenshots/*  